.gray-bg {
    background-color: #c6c9d1;
    color: #fff;
    text-shadow: 1px #111;
}

.intro {
    padding: 5% 19%;
    text-align: center;
    font-size: 1.1vw;
}

.thanks {
    padding: 5% 17%;
    text-align: center;
    font-size: 1.8vw;
}

@media screen and (max-width: 800px) {

    .intro {
        padding: 5%;
        text-align: left;
        font-size: 1.8vw;
        color: #eee;
    }

}