/* TOP TEXT */

.top-text-wrapper {
    text-align: center;
    width: 100%;
    max-width: 1270px;
    margin: auto;
}

.top-text-title {
    font-size: calc(25px + 2.4vw);
    color: #AB1447;
}

.top-text-body {
    padding-top: 20px;
    font-size: calc(13px + 0.7vw);
}

strong {
    color: #AB1447;
}

@media screen and (max-width: 800px) {
    /* Mobile view */

    .top-text-wrapper {
        width: 92%;
    }

    .top-text-body br {
        display: none;
    }

}

/* SHOWREEL */

.showreel-wrapper {
    background-color: #AB1447;
    width: 100%;
    margin-top: 50px;
    padding: 1vw 5vw;
}

.showreel-video {
    width: 100%;
    height: 57vw;
    pointer-events: none;
}

.showreel-drip {
    fill: #AB1447;
}

/* FEATURED WORK */

.featured-title {
    text-align: center;
    width: 100%;
    font-size: calc(20px + 5vw);
    margin: 15px;
}