/* <fonts> */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* </fonts> */
/* <nav> */

nav {
    position: fixed;
    background: #fafafa;
    height: 140px;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
}

.logo {
    position: absolute;
    left: -80;
    top: -55;
    height: 250px;
    width: auto;
}

.links {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    margin-right: 30px;
    padding: 0;
}

.links-item {
    color: #272822;
    margin: 70px 5px;
    display: inline-block;
}

nav ul {
    margin: 0;
    padding: 0;
    display: inline-block;
}

nav ul li {
    margin: 0;
    margin-top: 50px;
    padding: 0;
    float:left;
}

nav ul li a {
    color: #272822;
    font-size: 22px;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    text-align: center;
}

nav ul li.active {
    border-bottom: 1px solid #272822;
}

nav ul li:hover {
    border-bottom: 3px solid #272822;
    transition:ease;
    transition-duration: 15ms;
}

.spacer {
    padding-left: 0%;
    padding-right: 0%;
    cursor: default;
}

/* </nav> */
/* <footer> */

footer {
    background: #fafafa;
    padding: 30px 0px 40px; 
    width: 100%;
    text-align: center;
    bottom: 0;
}

.footer-logo {
    height: 200px;
    width: auto;
    text-align: center;
    margin-bottom: -1.2%;
}

.footer-links {
    width: 100%;
    padding: 0;
    text-align: center;
}

.footer-links-item {
    color: #272822;
    margin: 0px 5px 40px;
    display: inline-block;
}

/* </footer> */
/* <body> */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background: #fafafa;
}

img {
    width: 100%;
}

.fullwidth {
    margin-top: 40px;
    margin-bottom: 40px;
}

.fullwidth-bottom {
    margin-top: 40px;
    margin-bottom: 40px;
}

.nav-gap {
    margin-top: 140px;
    margin-bottom: 40px;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
}

.gallery-item {
    width: 50%;
    margin: 40px 0px;
    padding: 0px 40px;
    overflow: hidden;
}

.gallery-label {
    padding: 10px 0px 0px 5px;
    font-weight: 500;
    color: #272822;
}

.reel {
    width: 80%;
    margin: 140px 10% 2%;
}

.project {
    margin: 140px 10% 0%;
    width: 80%;
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.contact {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 140px auto 0% auto;
    text-align: center;
    word-wrap: normal;
    line-height: 25px;
    max-width: 660px;
    width: 100%;
}

.contact h1 {
    font-weight: 900;
    font-size: 60;
}

.contact h3 {
    font-weight: 900;
    font-size: 30;
}

/* </body> */