{% extends "../layout.njk" %}
{% block headStylesheets %}
<link rel="preload" as="style" href="/pages/ben-and-jerrys.css">
<link rel="stylesheet" href="/pages/ben-and-jerrys.css">
{% endblock %}
{% block content %}
<div class="project overflow-container">
    <img src="/assets//projects/ben-and-jerrys/Why & My Goal V2.png" alt="Ben and Jerry's Intro and Style">
    <iframe src="https://player.vimeo.com/video/1078938748?badge=0&autopause=0&player_id=0&app_id=58479" frameborder="0"
        allow="fullscreen; picture-in-picture; clipboard-write" title="The Ben and Jerry Story"></iframe>
    <img src="/assets//projects/ben-and-jerrys/Research.png" alt="How" class="overflowing-img">
    <img src="/assets//projects/ben-and-jerrys/Script.png" alt="How" class="overflowing-img">
    <img src="/assets//projects/ben-and-jerrys/Style Exploration V2.png" alt="How" class="overflowing-img">
    <img src="/assets//projects/ben-and-jerrys/Storyboard.png" alt="How" class="overflowing-img">
    <img src="/assets//projects/ben-and-jerrys/Production.png" alt="Production" class="gallery fullwidth-bottom">
    <div class="gallery fullwidth-bottom">
        <img class="gallery-item gallery-slim"
            src="/assets/projects/ben-and-jerrys/GIF_Optimized/GIF 1/GIF 1 500px.gif">
        <img class="gallery-item gallery-slim"
            src="/assets/projects/ben-and-jerrys/GIF_Optimized/GIF 2/GIF 2 500px.gif">
        <img class="gallery-item gallery-slim"
            src="/assets/projects/ben-and-jerrys/GIF_Optimized/GIF 3/GIF 3 500px.gif">
        <img class="gallery-item gallery-slim"
            src="/assets/projects/ben-and-jerrys/GIF_Optimized/GIF 4/GIF 4 500px.gif">
        <img class="gallery-item gallery-slim"
            src="/assets/projects/ben-and-jerrys/GIF_Optimized/GIF 5/GIF 5 500px.gif">
        <img class="gallery-item gallery-slim"
            src="/assets/projects/ben-and-jerrys/GIF_Optimized/GIF 6/GIF 6 500px.gif">
    </div>
</div>
{% endblock %}