{% extends "../layout.njk" %}
{% block headStylesheets %}
<link rel="preload" as="style" href="/pages/kantar.css">
<link rel="stylesheet" href="/pages/kantar.css">
{% endblock %}
{% block content %}
    <div class="project">
        <div class="intro green-bg">
            <p>
                We crafted a video which highlights the importance of Kantars services,
                and how it can help buisnesses understand their consumers needs and
                habits.
            </p>
            <br />
            <p>
                I love how fun and colourful we were able to be with this video, working
                with a lot of data and information can be overwhelming but this video
                makes it seem playful and generates a sense of excitment
            </p>
        </div>
        <img class="fx-float-1" src="/assets/projects/kantar/Scene 03_optimized.gif">

        <iframe src="https://player.vimeo.com/video/1037239917?badge=0&autopause=0&player_id=0&app_id=58479"
            frameborder="0" allow="fullscreen; picture-in-picture; clipboard-write" class="fullwidth"
            title="Worldpanel Foodservice Offer"></iframe>

        <div class="gallery fullwidth-bottom">
            <div class="gallery-item gallery-slim">
                <img src="/assets/projects/kantar/12427 - Worldpanel Foodservice Offer - V4_1_optimized.gif">
            </div>
            <div class="gallery-item gallery-slim">
                <img src="/assets/projects/kantar/12427 - Worldpanel Foodservice Offer - V4_2_optimized.gif">
            </div>
            <div class="gallery-item-60 gallery-slim">
                <img src="/assets/projects/kantar/12427 - Worldpanel Foodservice Offer - V4_optimized.gif">
            </div>
        </div>
        
        <img class="fx-float-2" src="/assets/projects/kantar/Shape_1.gif">
        <img class="fx-float-3" src="/assets/projects/kantar/Square of Dots.gif">
    </div>
{% endblock %}