{% extends "../layout.njk" %}
{% block content %}
    <iframe src="https://player.vimeo.com/video/1099145893?badge=0&autopause=0&player_id=0&app_id=58479"
            frameborder="0" allow="fullscreen; picture-in-picture; clipboard-write"
            title="We are..."></iframe>
{% endblock %}