<script>
    var riveInstaces = [];
    var canvasId = 1;

    function waitForRive(callback) {
    // Check every 100ms to see if inJump is available
    var interval = setInterval(function() {
            if (typeof Animation !== 'undefined') {
                clearInterval(interval);  // Stop checking once it's available
                callback();  // Execute the callback function
            }
        }, 100);
    }

    function fillRiveCanvas(name, stateMachine, artboard) {
        const canvas = document.getElementById("canvas-" + canvasId);
        const autoplay = canvasId == 1 ? true : false;
        const r = new rive.Rive({
            src: "/assets/interactive/" + name + ".riv",
            canvas: canvas,
            stateMachines: stateMachine || "State Machine 1",
            autoplay: autoplay,
            isTouchScrollEnabled: autoplay,
            autoBind: true,
            useOffscreenRenderer: true,
            onLoad: () => {
                r.resizeDrawingSurfaceToCanvas();
            },
        });
        canvas.addEventListener("mouseover", () => r.play());
        riveInstaces.push(r);
        canvasId = canvasId + 1;
    }

    waitForRive(function() {

        // {% block headerRiveInstance %} 
        fillRiveCanvas("my_interactive_face");
        // {% endblock %}
        // {% for riveInstance in riveInstances %} 
        fillRiveCanvas("{{ riveInstance }}");
        // {% endfor %}

        window.addEventListener("resize", () => {
            riveInstaces.forEach((r) => {
                r.resizeDrawingSurfaceToCanvas();
            });
        });
    
    });
</script>