.space-bg {
    background-image: url("/assets/projects/aliens-aboard/Header\ BG.png");
    background-position: center;
    background-size: cover;
    color: #a233da;
    width: 100%
}

.intro {
    padding: 3% 29.3%;
    text-align: center;
    font-size: 1.4vw;
}

.gallery {
    background-image: url("/assets/projects/aliens-aboard/BG\ for\ characters.png");
    background-position: center;
    background-size: cover;
    align-items: flex-start;
    padding: 0px 20%;
    width: 100%;
}

.custom-gallery-item {
    width: 50%;
    margin: 40px 0px;
    padding: 0px 40px;
    overflow: hidden;
}

.thanks {
    padding: 5% 10%;
    text-align: center;
    font-size: 2vw;
}

.asteroid-l {
    margin-top: -4.5vw;
    height: 10vw;
    width: auto;
    float: left;
}

.asteroid-r {
    margin-top: -3.5vw;
    height: 10vw;
    width: auto;
    float: right;
    rotate: 180deg;
}