{% extends "./layout.njk" %}
{% block content %}
<iframe src="https://player.vimeo.com/video/1177084592?app_id=58479" frameborder="0" 
    allow="autoplay" style="width: 100%; height: calc(30vh + 30vw)" title="Showreel 2026"></iframe>
{% endblock %}