{% extends "./info.njk" %}
{% block headStylesheets %}
{{ super() }}
<style>
    .menu-icon {
        display: none;
    }
</style>
{% endblock %}
{% block topnav %}{% endblock %}
{% block content %}
<div style="text-align: center;">
    <h1 style="font-size: 10vw;">SITE UNDER CONSTRUCTION!</h1>
</div>
{{ super() }}
{% endblock %}