.yellow-bg {
    background-color: #f0a200;
    color: #eee;
}

.intro {
    padding: 4% 26%;
    text-align: center;
    font-size: 1.1vw;
}

.thanks {
    padding: 3%;
    text-align: center;
    font-size: 1.5vw;
}

@media screen and (max-width: 800px) {

    .intro {
        padding: 5%;
        text-align: left;
        font-size: 1.8vw;
        color: #eee;
    }

    .thanks {
        font-size: 2.5vw;
    }
}