.green-bg {
    background-color: #57c48f;
    color: #173c48;
}

.yellow-bg {
    background-color: #f1a922;
    color: #111;
}

.intro {
    padding: 5% 17%;
    text-align: left;
    font-size: 1.1vw;
}

.gallery {
    justify-content: center;
}

.thanks {
    padding: 3%;
    text-align: center;
    font-size: 1.5vw;
}

.fx-float-1 {
    position: relative;
    float: right;
    padding: 0;
    margin-bottom: -9vw;
    right: -2.4vw;
    bottom: 8vw;
    height: 10vw;
    width: auto;
}

.fx-float-2 {
    position: relative;
    padding: 0;
    margin-bottom: -10vw;
    left: -2.0vw;
    bottom: 6.5vw;
    height: 10vw;
    width: auto;
    rotate: -10deg;
}

.fx-float-3 {
    position: relative;
    float: right;
    padding: 0;
    margin-bottom: -11vw;
    right: 0.2vw;
    bottom: 8.3vw;
    height: 11vw;
    width: auto;
    rotate: 26deg;
}

@media screen and (max-width: 800px) {

    .intro {
        padding: 5%;
        text-align: left;
        font-size: 1.8vw;
        color: #eee;
    }

}