.overview {
    text-align: center;
    padding: 0 7vw;
    width: 100%;
    font-size: calc(0.7vw + 10px);
}

.overview img {
    width: 20%;
}

.gallery {
    padding: 0 7vw;
    justify-content: space-around;
}

.gallery-item-left img {
    width: 60%;
    margin-bottom: 3vw;
}

.gallery-item {
    font-size: calc(0.7vw + 10px);
}

.gallery-item-right img {
    width: 70%;
    margin: 1vw 0;
}

.quad-wrapper {
    display: grid;
    grid-column: 50% 50%;
    grid-row: 50% 50%;
}

.quad {
    width: 49%;
}