.overview {
    text-align: center;
    padding: 0 7vw;
    width: 100%;
    font-size: calc(0.7vw + 10px);
}

.overview img {
    width: 20%;
}

.gallery {
    padding: 0 7vw;
    justify-content: space-around;
}

.gallery-item {
    font-size: calc(0.7vw + 10px);
}

.quad-wrapper {
    padding: 1vw calc(11vw - 100px);
    margin: 0;
}

.quad {
    width: 49%;
    display: inline-block;
}

@media screen and (max-width: 800px) {

    .overview img {
        width: 60%;
    }

    .gallery-item {
        margin-top: 50px;
    }
}