
.expert-wrapper {
    align-content: center;
    justify-content: center;
    display: flex;
    margin: auto;
}

.expert-wrapper a {
    border: 1px solid #222;
    border-radius: 18px;
}

.rive-expert-image {
    width: 80px;
    padding: 0 8px;
    display: inline-block;
}

.expert-text-wrapper {
    padding: 8px 13px 8px 0;
    display: inline-block;
}

.rive-expert-header {
    color: #1a1a1a;
    font-size: 37px;
    font-weight: 600;
}

.rive-expert-text {
    color: #1a1a1a;
    font-size: 24px;
}